<page id="jobs_show">
  <div class="padding-2">
    <div class="container">
      <div class="row">
        <div class="col-md-2 hidden-xs">
          <div class="left_banner_image">
            <% if @job.exclusive == false %>
              <% @banners.each do |banner| %>
                <%= image_tag banner.left_banner_image, class:"thumbnail" %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-md-8">
          <div class="job" style="padding:12px 0px;">
            <div class="row">
              <div class="col-md-12">
                <% if @job.exclusive %>
                  <%= image_tag @job.employer.employer_header_image, class:"thumbnail", style:"border-radius:0px !important;border:none !important;margin-bottom:24px !important;" %>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-xs-6">
                <%= image_tag @job.employer.employer_logo_image, class:"thumbnail" %>
                <% if @job.exclusive %><% if @job.employer.profile %><%= link_to "Visa Bedriftsprofil", @job.employer, class:"btn btn-view-employer", style:"background:#424242 !important;border-color:#424242 !important;margin-top:12px !important;width:100% !important;" %><% end %><% end %>
              </div>
              <div class="col-md-9 col-xs-12">
                <p><span class="bold"><% if @job.exclusive %> <span class="label label-exclusive">Exclusive</span> &nbsp; <% end %><%= @job.employer.name %></span> &middot; <%= @job.job_category.name %> &middot; <%= @job.job_type.name %></p>
                <h4 class="bold" style="margin-bottom:0px !important;"><%= @job.title %></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="job-content" style="padding:24px 0px;">
                  <span><%= @job.content.html_safe %></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="button" class="btn btn-lg btn-apply-now" data-toggle="modal" data-target="#myModal" style="width:100%;background:#FFC107 !important;border-color:#FFC107 !important;">
                  Sök nå
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 hidden-xs">
          <div class="right_banner_image">
            <% if @job.exclusive == false %>
              <% @banners.each do |banner| %>
                <%= image_tag banner.right_banner_image, class:"thumbnail" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</page>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
